{% extends 'expert/base.html' %}
{% block title %}Кабинет эксперта{% endblock %}
{% block content %}
<div class="card mt-4">
    <div class="card-header bg-success text-white">
        <h4>Добро пожаловать, {{ user.username }}!</h4>
    </div>
    <div class="card-body">
        <p class="card-text">Это панель управления эксперта. Здесь вы можете создавать и управлять учебными материалами.</p>
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Учебные материалы</h5>
                    </div>
                    <div class="card-body">
                        <p>Здесь будет список учебных материалов</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Статистика</h5>
                    </div>
                    <div class="card-body">
                        <p>Здесь будет отображаться статистика по материалам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
